$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDark: #222222;
$colorLightDark: #2a2a2a;
$colorVeryLightDark: #343434;
$colorVeryLightDark2: #333333;
$colorDarker: #1a1a1a;
$colorBlue: #0190fe;
$colorBlue2: #0e74d7;
$colorPurplePink: #521751;
$colorPuple: #3d266a;
$colorDarkPink: #800080;
$colorDarkerGray: #5a5a5a;
$colorDarkGray: #878787;
$colorGray: #bbbbbb;
$colorLightGray: #d3d3d3;
$colorOrange: #ff4c3b;
$colorLight: #cccccc;
$colorRed: #e60000;
$colorLightGreen: #41b053;
$colorGreen: #359144;