#lumisoftmaster .flexflex {
    flex-direction: row;
    display: flex;
    justify-content: space-between;    
}
#dropzoneforicon .dropzone {
    position: relative;
    height: 138px;
    min-height: 100px;
    max-width: 138px;
    background: $colorVeryLightDark;
    border-radius: 6px;
    margin-bottom: 5px;
}

#dropzoneforicon .dropzone .message {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center!important;
    flex-direction: column;
}
#dropzoneforicon .dropzone .message .agraicon {
    font-size: 50px;
}
#dropzoneforicon #buttonapk {
    margin-right: 10px;
}
// #dropzoneforicon .formSubmitButtonWithBack {
//     bottom: 35px;
// }
#dropzoneforiconposition .iconPosition, #dropzoneforiconposition2 .iconPosition {
    top: 50%;
}
#dropzoneforiconposition .dropdownmenu {
    padding: 0 !important;
    top: 105% !important;
}
#dropzoneforiconposition .disabled, #dropzoneforiconposition2 .disabled {
    color: rgba(255,255,255, 0.4) !important;
}
#dropzoneforiconposition .errorSubmit {
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #e60000;
    text-transform: uppercase;
    left: 0;
}
#dropzoneforiconposition .successSubmit {
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #359144;
    text-transform: uppercase;
    left: 0;
}
#dropzoneforiconposition2 textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 7px 13px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    line-height: 1.5;
    color: $colorGray;
    background-color: $colorVeryLightDark;
    background-image: none;
    border: 1px solid $colorDarker;
    border-radius: 4px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#dropzoneforiconposition2 .formSubmitButtonWithBack {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
#dropzoneforiconposition2 .errorSubmit {
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #e60000;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
}
#dropzoneforiconposition3 .errorSubmit {
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #e60000;
    text-transform: uppercase;
    bottom: 0;
    left: 20px;
}
#dropzoneforiconposition2 .successSubmit {
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #359144;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
}
#dropzoneforiconposition3 .successSubmit {
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 
    #e60000;
    text-transform: uppercase;
    bottom: 0;
    left: 20px;
}
#dropzoneforiconposition3 .doubleButton {
    float: right;
}
#dropzoneforiconposition3 .imageContainer {
    position: relative;
    min-height: 100px;
    border: 2px solid
    rgba(255, 255, 255, 0.1);
    background:
    #343434;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    padding: 20px 0;
}
#buttonapk .uploadapkbutton {
    background-color: #359144;
    color:#d3d3d3;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#buttonapk input {
    display: none;
}
#dropzoneforicon .dropzone .message .agraicon {
    font-size: 50px;
}