@import 'colors';
@import 'fonts';
/***********************************************
                    NOMATCH
***********************************************/
#lumisoftmaster .lumisoftnomatch {
    padding-top: 10% !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}

#lumisoftmaster .lumisoftnomatchwrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#lumisoftmaster .lumisoftnomatchwrapper .lumisoftnomatchtitle {
    font-size: 170px !important;
    margin-bottom: 50px !important;
    line-height: 1;
}

#lumisoftmaster .lumisoftnomatchwrapper .textUppercase {
    text-transform: uppercase !important;
}

#lumisoftmaster .lumisoftnomatchwrapper .lead {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
}

/***********************************************
                    NOMATCH
***********************************************/

.frontendlumisoftnomatch {
    padding-top: 10% !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}

.frontendlumisoftnomatch .lumisoftnomatchwrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.frontendlumisoftnomatch .lumisoftnomatchwrapper .lumisoftnomatchtitle {
    font-size: 170px !important;
    margin-bottom: 50px !important;
    line-height: 1;
}

.frontendlumisoftnomatch .lumisoftnomatchwrapper .textUppercase {
    text-transform: uppercase !important;
}

.frontendlumisoftnomatch .lumisoftnomatchwrapper .lead {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
}