@import 'colors';
@import 'fonts';
/***********************************************
                SIDE DRAWER
***********************************************/
#lumisoftadmin .sideDrawerLogo {
    // padding: 15px;
    padding: 3px;
    text-align: center;
    background-color: $colorDark;
    border-bottom: 1px solid rgba(255,255,255,0.2)
}
#lumisoftadmin .sideDrawer{
    height: 100%;
    background: $colorLightDark;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 1050;
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    transition: transform 0.2s ease;
    will-change: transform;
}
#lumisoftadmin .sideDrawer.open {
    transform: translateX(0);
    overflow-y: auto;
    // height: 100%;
    top: 0%;
    bottom: 0%;
    position: fixed;
    // -webkit-overflow-scrolling: touch;
}
#lumisoftadmin .sideDrawer.open ul {
    max-height: 50vh;
    
}
#lumisoftadmin .sideDrawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // padding-left: 10px;
}
#lumisoftadmin .sideDrawer a, #lumisoftadmin .sideDrawer .icon {
    color: $colorDarkGray;
    text-decoration: none;
    font-size: 1.2rem;
}
#lumisoftadmin .sideDrawer a:hover,
#lumisoftadmin .sideDrawer a:active {
    color: $colorWhite;
}
#lumisoftadmin .sideDrawer > ul > li > a{
    border: none;
    display: block;
    position: relative;
    padding: 0;
    border-radius: 0;
    margin: 0;
    text-align: -webkit-match-parent;
}
#lumisoftadmin .sideDrawer > ul > li > a.active {
    background-color: $colorDark !important;
    border-right: 7px solid $colorGreen !important;
}
#lumisoftadmin .sideDrawer > ul > li a.active,
#lumisoftadmin .sideDrawer > ul > li a.active .icon{
    color: $colorWhite;
}
#lumisoftadmin .sideDrawer .itemContent {
    align-items: center;
    display: table-row;
}
#lumisoftadmin .sideDrawer .itemIcon {
    padding: 10px 15px;
    width: 55px;
}
#lumisoftadmin .sideDrawer .itemInner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    padding: 10px 15px 10px 10px;
}
#lumisoftadmin .sideDrawer .version {
    position: absolute;
    font-size: 0.8rem;
    font-family: $Roboto;
    display: block;
    color: $colorDarkGray;
    padding: 11px 15px;
    bottom: 10px;
    right: 10px;
}
#lumisoftadmin .sidenavTitle {
    font-size: 11px;
    padding: 7px 20px 5px 20px;
    background-color: #353535;
    color: #a1a1a1;
    text-transform: uppercase;
    font-weight: 500;
    display: block;

}
@media (max-width: 767.98px) {
    #lumisoftadmin .sideDrawer.open ul {
        border: 0 !important;
    }
}
@media (min-width: 768px) {
    #lumisoftadmin .sideDrawer {
        display: none;
    }
}

// .sideDrawer .iconContent {
//     background: $colorDark;
//     box-shadow: none;
//     height: 53px;
//     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
// }
// .sideDrawer .iconContent > ul {
//     flex-direction: row;
//     position: relative;
//     justify-content: space-between;
//     // float: right;
// }
// .sideDrawer .iconContent > ul > li {
//     float: left;
//     position: relative;
//     display: block;
// }
// .sideDrawer .iconContent > li:before {
//     content: "";
//     position: absolute;
//     width: 1px;
//     right: 0;
//     top: 5px;
//     bottom: 5px;
//     background: -moz-linear-gradient(top, rgba(206,206,206,0) 0%, rgba(206,206,206,0.2) 50%, rgba(206,206,206,0) 100%);
//     background: -webkit-linear-gradient(top, rgba(206,206,206,0) 0%, rgba(206,206,206,0.2) 50%, rgba(206,206,206,0) 100%);
//     background: linear-gradient(to bottom, rgba(206,206,206,0) 0%, rgba(206,206,206,0.2) 50%, rgba(206,206,206,0) 100%);
//     box-sizing: border-box;
// }
// .sideDrawer .iconContent > ul > li > a {
//     letter-spacing: 0;
//     opacity: 0.9;
//     padding: 7px;
//     position: relative;
//     text-align: center;
//     display: block;
    
// }
// .sideDrawer .iconContent > ul > li > a.active {
//     background-color: $colorDark;
//     border-bottom: 4px solid $colorWhite;
// }
// .sideDrawer .iconContent > ul > li > a.active > .iconWrapper > .icon {
//     color: $colorWhite;
// }
// .sideDrawer .iconContent .iconWrapper {
//     padding: 9px;
// }






// .sideDrawerLogo {
//     padding: 14px !important;
//     background-color: rgba(25, 25, 25, 0.95);
// }
// .sideDrawer button, .sideDrawer .icon {
//     color: #aaa;
//     text-decoration: none;
//     font-size: 1.2rem;
//     background-color: transparent;
//     cursor: pointer;
// }
// .sideDrawer > ul > li > button span:hover,
// .sideDrawer > ul > li > button span:active {
//     color: #fff;
// }
// .sideDrawer > ul > li > button{
//     border: none;
//     display: block;
//     position: relative;
//     padding: 5px;
//     border-radius: 0;
//     margin: 0;
//     width: 100%;
//     text-align: left;
//     border-bottom: 1px solid rgba(25, 25, 25, 0.95);
//     // text-align: -webkit-match-parent;
// }
// .sideDrawer > ul > li > button.active {
//     background-color: #fff;
//     border-right: 4px solid #d3145a;
// }
// .sideDrawer > ul > li button.active,
// .sideDrawer > ul > li button.active .icon{
//     color: #fff;
// }
// .sideDrawer .iconContent > ul > li > button {
//     letter-spacing: 0;
//     opacity: 0.9;
//     padding: 7px;
//     position: relative;
//     text-align: center;
//     display: block;
    
// }
// .sideDrawer .iconContent > ul > li > button.active {
//     background-color: #222222;
//     border-bottom: 4px solid #222222;
// }
// .sideDrawer .iconContent > ul > li > button.active > .iconWrapper > .icon {
//     color: #fff;
// }